.footer {
    background-color: #06051a;
    padding: 50px 0;

    &__all {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
    }

    &__left-links {
        margin-right: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__logo {
        font-size: 35px;
        font-weight: 700;
        margin-right: auto;
        color: $coral;
        transition: 0.2s ease;

        span {
            color: $white;
        }
    }

    &__logo:hover {
        opacity: 0.7;
    }

    &__nav-link {
        color: $white;
        transition: 0.2s ease;
    }

    &__nav-link:hover {
        color: $pink;
    }

    &__nav-link:first-child {
        margin-right: 15px;
    }

    &__address {
        color: $white;
        line-height: 2;
        opacity: 0.6;
    }

    &__social-icons {
        margin-right: 15px;
        color: $white;
        transition: 0.2s ease;
    }

    &__social-icons:hover {
        color: $pink;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

    &__right-text {
        color: $white;
        opacity: 0.6;
    }
}